@media (min-width:1400px) {
    .section{
        height: 90vh;
    }
    .element{
        height: 350px;
        width: 350px;
    }
}
@media (min-width:1200px) and (max-width:1399px){
    .section{
        height: 100vh;
    }
    
    
    .element{
        height: 350px;
        width: 350px;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .section{
        height: 90vh;
    }
    .element{
        height: 350px;
        width: 350px;
    }
}
@media (min-width:768px) and (max-width:991px){
    
    .element{
        height: 350px;
        width: 350px;
    }
    .aboutus .row{
        flex-direction: column-reverse;
    }
}
@media (min-width:300px) and (max-width:767px){
    
    
    .aboutus .row{
        flex-direction: column-reverse;
    }
}
