.nav-con {
    background-color: rgb(2, 2, 66);
}

.container-fluid a {
    color: white !important;



}

.container-fluid a:hover {
    color: rgb(11, 168, 231) !important;
}

.navbar-toggler {

    background-color: rgb(255, 255, 255);

}

/* section  */
.section {
    background-color: rgb(19, 19, 51);
    color: white;
}
.section h2{
    font-size: 30px;
    font-weight: 600;
}
.section h1{
    font-size: 40px;
    font-weight: 900;
}
.section .link .link1{
    height: 40px;
    width: 40px;
    border: 2px solid rgba(79, 238, 238, 0.863);
    border-radius: 50%;
}
.section .link .link1 i{
    color: rgba(79, 238, 238, 0.863) ;
    font-size: 20px;
}
.section button{
    padding-inline: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-block: 7px;
    background-color: rgba(79, 238, 238, 0.863);
    color: black;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(228, 227, 227, 0.2), 0 6px 20px 0 rgba(217, 217, 217, 0.19);
    width: 180px;
}

/* about us  */
.aboutus
{
    background-color: rgb(19, 19, 51);
    /* height: 100vh; */
    position: relative;
    color: white;
}
.aboutus h1{
    font-size: 40px;
    font-weight: 900;
}
.aboutus button{
    padding-inline: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-block: 7px;
    background-color: rgba(79, 238, 238, 0.863);
    color: black;
    font-weight: 700;
    box-shadow: 0 4px 8px 0 rgba(228, 227, 227, 0.2), 0 6px 20px 0 rgba(217, 217, 217, 0.19);
    width: 180px;
}









